.time-slot {
  margin-bottom: 6.2vh;
  color: #ffffff;
  font-weight: bold;
  background: #473b78;
  font-size: 2vh;
  border-radius: 10%;
  padding: 1vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.time-scale {
  width: 8vh;
}

.timeScaleContent {
  padding-top: 13vh;
}

.current-time {
  position: absolute;
  width: 10vh;
  height: 4vh;
  background-color: #ff5858;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10%;
  color: white;
  font-weight: bold;
  font-size: 2vh;
}
.center-fish-tank {
  background-image: url(../img/fish/background_5c.png);
  background-size: 100% 100%;
  background-position: center center;
  height: 204vh;
}

.current-time-line {
  position: absolute;
  width: 65%;
  height: 2px;
  background-color: #ff5858;
  z-index: 998;
}

.background-water{
  position: absolute;
  top: 56vh;
  left: 64vh;
  z-index: -10;
  height: 160vh;
  width: 63vw;
}

.background-floor{
  position: absolute;
  top: 200vh;
  left: 64vh;
  z-index: -9;
  height: 40vh;
  width: 63vw;
}

.slider-container{
}

input[type="range"] {
  -webkit-appearance: none;
  width: 51%;
  height: 12px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 2vh;
}

.water-slider{
  background: linear-gradient(to right, #4da6ff, #e978fc,#f2883e,#31c051,#55dc87,#3dacf0);
}

.floor-slider{
  background: linear-gradient(to right, #8fde5d, #6dffea,#fcafff,#ffb179,#55dc87,#8fde5d);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #473b78;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #473b78;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #473b78;
  background: #fff;
  cursor: pointer;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-moz-range-progress {
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
}

input[type="range"]::-ms-fill-lower {
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
}

input[type="range"]::-ms-fill-upper {
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.background-water-small{
  z-index: 9997;
  width: 40vh;
  height: 40vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.background-floor-small{
  position: absolute;
  top: 54vh;
  left: 4vh;
  z-index: 9998;
  width: 40vh;
  height: 8vh;
}

.fishTank-small{
  position: absolute;
  left: 3vh;
  width: 41.5vh;
  z-index: 9999;
  height: 49vh;
}

.setting-container{
  position: absolute;
  padding: 4vh;
  top: 60vh;
  left: 150vh;
  z-index: 9999;
  width: 40vh;
  background-color: white;
  border-radius: 10px;
}

.setting-image {
  position: absolute;
  width: 4vh;
  top: 43vh;
  left: 198vh;
  cursor: pointer;
  transition: transform 0.8s ease;
}

.label-w, .label-f{
  font-size: 3vh;
}

.Expand-b {
  background-color: #445376;
  border: none;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  font-size: 3vh;
  transition: background-color 0.3s ease;
  transition: 0.3s;
  color: white;
  padding: 1vh;
}

.Expand-b:hover{
  font-size: 3.5vh;
  cursor: pointer;
}

.normal{
  top: 42vh;
  left: 30vw;
}

.top-left {
  top: 6vh;
  z-index: 9999;
  left: 10vw;
}

.fish-search{
  position: absolute;
  top: 16vh;
  left: 6vw;
  width: 17.3vw;
  font-size: 2.5vh;
  padding: 0.5vw;
  border: 2px solid #445376;
  border-radius: 0.5vw;
}

.search-results{
  position: absolute;
  top: 22vh;
  left: 6vw;
  z-index: 999;
  width: 40vh;
  background: #f3f5f9b5;
  padding: 2vh;
  border-radius: 10px;
}

.fish-date{
  position: absolute;
  top: 42vh;
  left: 50vw;
  width: 16vw;
  height: 6vh;
  font-size: 3vh;
  font-weight: bold;
  color: #473b78;
  border-radius: 10px;
  border: none;
  background-color: #f3f5f9;
  padding-left: 2vw;
  padding-right: 2vw;
}

.today-task{
  padding: 10px;
  position: absolute;
  background-color: #f1e9e7;
  top: 24vh;
  left: 6vw;
  width: 37vh;
  border-radius: 0.5vw;
  font-weight: bold;
  color: #51516f;
  z-index: 99;
  border: 2px solid #445376;
}

.task-info{
  font-weight: normal;
  padding-left: 3vw;
  font-size: 1.4vw;
}

.ex-b{
  margin-right: 10%;
    color: #473b78;
    border: none;
    border-radius: 10%;
    width: 4vh;
    height: 4vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ex-b.expanded {
  transform: rotate(0deg);
}

.ex-b.collapsed {
  transform: rotate(45deg);
}

.Today-t{
  position: absolute;
  top: 1.5vh;
  left: 4vw;
  font-size: 1.4vw;
}

.reminder{
  position: absolute;
  top: 30vh;
  left: 35vw;
  background-color: #f3f5f9;
  padding: 20px;
  border-radius: 5px;
  z-index: 99999999;
  font-size: 1.4vw;
  width: 30vw;
}

.black-bg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #00000079;
  z-index: 9999;
}

.close-button{
  position: absolute;
  top: 2vh;
  right: 2vw;
}

.User-input{
  position: absolute;
  right: 10vw;
  top: 50vh;
  width: 20vw;
  background-color: #f1e9e7;
}

.Note-b{
  position: absolute;
  right: 12vw;
  top: 19vw;
  width: 2vw;
  transition: 0.3s;
}

.Note-b:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.save-button{
  position: absolute;
  top: 52vh;
  right: 12vw;
  background-color: #445376;
  border: none;
  border-radius: 5px;
  font-size: 1.4vw;
  color: white;
  padding: 0.5vw 1vw;
  z-index:100;
}

.save-button:hover{
  cursor: pointer;
}

.clear-button{
  position: absolute;
  top: 52vh;
  right: 18vw;
  background-color: #445376;
  border: none;
  border-radius: 5px;
  font-size: 1.4vw;
  color: white;
  padding: 0.5vw 1vw;
  z-index:100;
}

.clear-button:hover{
  cursor: pointer;
}