  .fish-tank {
    padding: 2vh;
    margin-bottom: 2vh;
    width: 40vh;
    transition: height 0.3s ease;
  }

  .expanded {
    height: auto;
  }

  .collapsed {
    height: 0vh;
  }
  
  .fish-tank-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .expand-b {
    margin-right: 10%;
    color: #473b78;
    border: none;
    border-radius: 10%;
    width: 4vh;
    height: 4vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .expand-b.expanded {
    transform: rotate(0deg);
  }
  
  .expand-b.collapsed {
    transform: rotate(45deg);
  }
  
  .bold {
    font-weight: bold;
  }

  .Task-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    background-color: #4da6ff;
    color: #445376;
    font-size: 3vh;
  }

  .tank-name{
    font-size: 3vh;
    color: #445376;
  }

  .delete-task-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 0.5vw 2vw;
    font-size: 2.6vh;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 2px solid #ff4d4f !important;
  }
  
  .delete-task-button:hover {
    color: #4b597b;
    background-color: #f1e9e7;
    border: 2px solid #ff4d4f !important;
  }

  .task{
    width: 16vw;
    margin: 1vh;
    padding: 1vh;
    background-color: #f1e9e7;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    border: solid 2px #414f70;
  }

  .task.expanded {
    opacity: 1;
  }
  
  .task.collapsed {
    opacity: 0;
    pointer-events: none;
  }

  .tank-select {
    appearance: none;
    margin-bottom: 1vw;
    padding: 1vw 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2.5vh;
    width: 16vw;
    outline: none;
    text-align: center;
  }
  
  .tank-select:hover {
    border-color: #999;
  }
  
  .tank-select:focus {
    border-color: #333;
    box-shadow: 0 0 5px #aaa;
  }