.plants-container{
    position: absolute;
}

.center-p{
    top: 138vh;
    z-index: 0;
}

.expanded-p{
    z-index: 9993;
    top: 30vh;
}

.plants, .Shell{
    position: absolute;
}

.center-p .p1{
    top:64vh;
    left: 5vw;
    width: 10vw;
}
.center-p .p2{
    top:40vh;
    left: 3vw;
    width: 20vw;
}
.center-p .p3{
    top:64vh;
    left: 24vw;
    width: 10vw;
}
.center-p .p4{
    top:56vh;
    left: 46vw;
    width: 16vw;
}
.center-p .p5{
    top: 60vh;
    left: 42vw;
    width: 14vw;
}
.center-p .p6{
    top: 65vh;
    left: 30vw;
    width: 10vw;
}
.center-p .p7{
    top: 32vh;
    left: 44vw;
    width: 26vw;
}

.expanded-p .p1{
    top: 34vh;
    left: 8vw;
    width: 14vw;
}
.expanded-p .p2{
    top:30vh;
    left: 18vw;
    width: 18vw;
}
.expanded-p .p3{
    top:44vh;
    left: 50vw;
    width: 10vw;
}
.expanded-p .p4{
    top:26vh;
    left: 84vw;
    width: 20vw;
}
.expanded-p .p5{
    top:26vh;
    left: 88vw;
    width: 20vw;
}
.expanded-p .p6{
    top:42vh;
    left: 44vw;
    width: 10vw;
}
.expanded-p .p7{
    top:2vh;
    left: -4vw;
    width: 30vw;
}