  .time-slot{
    margin-bottom: 42px;
    color: #ffffff;
    font-weight: bold;
    background: #473b78;
  }
  .time-scale{
    width: 40px;
  }
  .timeScaleContent{
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .current-time-line {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #FF5858;
  }
  .current-time{
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: #FF5858;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }

  .timeScaleContent{
    width: 20%;
  }
  
  .fish-container{
    width: 80%;
  }

  .Time-Line{
    width: 80%;
  }

  .center-fish-tank {
    background-image: url(../img/fish/background_5c.png);
    background-size: 100% 100%;
    background-position: center center;
  }