.expanded-fish-tank {
    position: fixed;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: 100vh;
    z-index: 9991; /* Adjust the z-index as needed */
  }
  
  
  .expanded-fish-tank .fish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 100%;
  }
  
  .expanded-fish-tank .task {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expanded-fish-tank .background-water {
    position: absolute;
    top: 0;
    left: 0;
    width: 110vw;
    height: 80vh;
  }
  
  .expanded-fish-tank .background-floor {
    position: absolute;
    top: 74vh;
    left: 0;
    width: 110vw;
    height: 30vh;
  }

  .music-b{
    position: absolute;
    top: 5vh;
    left: 10vw;
    z-index: 9992;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .music-b img {
    width: 3vw;
    transition: transform 0.2s ease;
    opacity: 0.6;
  }
  
  .music-b:hover img {
    opacity: 1;
    transform: scale(1.1);
  }
  

  .datetime{
    position: absolute;
    top: 10vh;
    left: 15.5vw;
    font-size: 10vw;
    z-index: -10;
    color: white;
    font-weight: bold;
  }

  .date{
    position: absolute;
    font-size: 5vw;
    right: 1vw;
    top: 50vh;
  }

  .time{
    font-size: 18vw;
  }