.fish-tank {
    /* border: 1px solid #ccc; */
    padding: 2vh;
    margin-bottom: 2vh;
    width: 40vh;
  }
  
  .fish-tank-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .expand-b {
    margin-right: 10%;
    color: #473b78;
    border: none;
    border-radius: 10%;
    width: 4vh;
    height: 4vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .bold {
    font-weight: bold;
  }

  .Task-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    background-color: #4da6ff;
    color: white;
    font-weight: bold;
    font-size: 3vh;
  }

  .tank-name{
    font-size: 3vh;
  }

  .delete-task-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 1vh 2vh;
    font-size: 2.6vh;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 2vh;
    transition: background-color 0.3s ease;
  }
  
  .delete-task-button:hover {
    background-color: #ff3333;
  }

  .task{
    margin: 1vh;
    padding: 1vh;
    background-color: #dff6fd;
    border-radius: 10px;
  }

  .tank-select {
    appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2.5vh;
    width: 18vh;
    outline: none;
  }
  
  .tank-select:hover {
    border-color: #999;
  }
  
  .tank-select:focus {
    border-color: #333;
    box-shadow: 0 0 5px #aaa;
  }
  
  