.fish {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.fish:hover {
  cursor: pointer;
}

.fish-center:hover{
  animation-play-state: paused; /* Pause the animation on hover */
}

.fish-text_name {
  font-size: 3vh;
}

.fish-text_description {
  font-size: 3vh;
}

.fish-center {
  animation-fill-mode: both;
  animation-name: swimAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.fish-expand {
  animation: swim 20s linear infinite;
}

@keyframes swimAnimation {
  0% {
    transform: translateX(0%) scaleX(1);
  }
  45% {
    transform: translateX(100%) scaleX(1);
  }
  50% {
    transform: translateX(100%) scaleX(-1);
  }
  95% {
    transform: translateX(0%) scaleX(-1);
  }
  100% {
    transform: translateX(0%) scaleX(1);
  }
}

@keyframes swim {
  0% {
    transform: translateX(-50vw) translateY(10vh) scaleX(1);
  }
  25% {
    transform: translateX(-10vw) translateY(12vh) scaleX(1);
  }
  45% {
    transform: translateX(32vw) translateY(10vh) scaleX(1);
  }
  50% {
    transform: translateX(32vw) translateY(10vh) scaleX(-1);
  }
  75% {
    transform: translateX(-10vw) translateY(3vh) scaleX(-1);
  }
  96% {
    transform: translateX(-48vw) translateY(8vh) scaleX(-1);
  }
  100% {
    transform: translateX(-50vw) translateY(10vh) scaleX(1);
  }
}

.fish-text_name,
.fish-text_time,
.fish-text_date,
.fish-text_description {
  margin: 0.4vh;
}

.fish-image1 {
  width: 20%;
}

.fish-text_description {
  font-weight: normal;
  font-size: 3vh;
}

.Onlyhover {
  display: none;
  transition: opacity 1s ease; /* smooth transition for opacity */
}

.fish:hover > .Onlyhover {
  display: block;
  opacity: 1; /* change opacity to 1 on hover */
}
