.TaskManager {
  margin-top: 2vh;
}

.input-wrapper input {
  margin-right: 10px;
}

.select-wrapper {
  margin-bottom: 10px;
}

.select-wrapper select {
  margin-right: 10px;
}

.fish-tanks-wrapper {
  display: flex;
  justify-content: space-between;
}

.fish-tanks {
  display: flex;
  flex-direction: column;
}

.Task-input-wrapper {
  background-color: #f3f5f9;
  margin-bottom: 2vh;
  border-radius: 8px;
  height: 24vh;
  padding-bottom: 10px;
}

.Left {
  float: left;
  margin-top: 2vh;
  width: 25%;
}

.Right {
  float: right;
  width: 75%;
}

.add-task {
  width: 20%;
  padding-top: 2vh;
  padding-left: 2%;
  color: #272656;
  font-size: 4vh;
}

.text-input {
  margin-left: 2%;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 40%;
  margin-bottom: 2vh;
  font-size: 3vh;
}

.text-input:focus {
  outline: none;
  border-color: #898989;
  box-shadow: 0 0 5px #adadad;
}

.text-input:hover {
  border-color: #999;
}

.Select {
  width: 20%;
  margin-left: 2%;
  padding: 1vh;
  font-size: 3vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #757575;
}

.Select:hover {
  border-color: #999;
}

.Select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

.Add-Task {
  background-color: #473b78;
  color: white;
  border-radius: 5px;
  padding: 1.5vh 3vh;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  margin-left: 1%;
  font-size: 2.5vh;
}

.calendar-image {
  height: 50vh;
}

.error-message {
  padding-left: 2vh;
  display: inline-block;
  color: #ff5858;
  font-weight: bold;
  font-size: 2.5vh;
}
