.top-image {
    width: 16%; /* Adjust the width as desired */
  }
  
.app-container {
    margin-top: 2%;
    margin-left: 6%; /* Adjust the left margin as desired */
    margin-right: 6%; /* Adjust the right margin as desired */
}
